<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GuessDraw</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <canvas class="background-canvas"></canvas>
  <div id="vue-app" class="container">
    <div class="game">
      <div class="side-panel players">
        <div class="panel-title">
          <h1>Players</h1>
        </div>
      </div>
      <div class="drawing-area">
        <canvas></canvas>
      </div>
      <div class="side-panel chat">
        <div class="panel-title">
          <h1>Chat & Guess</h1>
        </div>
        <div class="panel-content">
          <div ref="chatMessages" class="chat-messages">
            <div v-for="m in chatMessages" class="chat-message">
              <div class="message-from">
                <div class="message-author">
                  {{m.author}}
                </div>
                <div class="message-type">
                  [{{m.type}}]
                </div>
              </div>
              <div class="message-content">
                {{m.message}}
              </div>
            </div>
          </div>
          <div class="chat-input">
            <input @keydown="onChatInput" v-model="chatInput" placeholder="Type something.." />
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./backgroundCanvas.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          chatInput: "",
          chatMessages: []
        }
      },
      mounted() {
        window.__app__ = this;
      },
      methods: {
        onChatInput(e) {
          if (e.key == "Enter" && this.chatInput.trim()) {
            this.chatMessages.push({
              author: "Me",
              type: "Chat",
              message: this.chatInput.slice(0,96)
            });
            this.chatInput = "";
            this.scrollToEndOfChat();
          }
        },
        sendSystemMessage(message, global=false) {
          this.chatMessages.push({
            author: "System",
            type: global ? "Global" : "Local",
            message: message || "<nothing>"
          });
          this.scrollToEndOfChat();
        },
        scrollToEndOfChat() {
          this.$nextTick(() => {
            this.$refs.chatMessages.lastElementChild.lastElementChild.scrollIntoView({ behavior: "smooth" });
          })
        }
      }
    });

    app.mount("#vue-app");
  </script>
</body>
</html>